In [3]:
a=3

In [5]:
a="I'm \"OK\""
print(a)

I'm "OK"

In [6]:
a,b,c=2,"hello",4
a,b,c

(2, 'hello', 4)

In [7]:
c="Python"
b+c+'!'

'helloPython!'

In [8]:
print("\\")

\

In [9]:
print("Change\ta \\new\nline")

Change	a \new
line

In [10]:
print('\\\t\\')
print(r'\\\t\\')

\	\
\\\t\\

In [11]:
print('''first line
second line
third line''')

first line
second line
third line

In [13]:
print(True)
print(3>2)
print(3>5)

True
True
False

In [15]:
a='ABC'
b=a
a="XYZ"
print(a,b)

XYZ ABC

In [16]:
a=9//4
a

2

In [17]:
a=3**2
a

9

In [18]:
a=3^2

a

1

In [19]:
a=[1,3,5,7]
a

[1, 3, 5, 7]

In [20]:
a[0]
a[1]
a[2]

5

In [21]:
a=(1.0,3,7)
a

(1.0, 3, 7)

In [22]:
a=([1.0,2],[3,4])
a

([1.0, 2], [3, 4])

In [23]:
a[0]

[1.0, 2]

In [26]:
type(a[0])

list

In [27]:
a={'1.0':'name',2:'age',3:'profession'}
type(a)

dict

In [28]:
print(a)

{2: 'age', 3: 'profession', '1.0': 'name'}

In [29]:
type(a)

dict

In [30]:
a[0]

KeyError: 0

In [31]:
print a['1.0']

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-31-4c7aed79aa28>, line 1)

In [32]:
print(a,type(a))

{2: 'age', 3: 'profession', '1.0': 'name'} <class 'dict'>

In [37]:
print(ord('A'))

65

In [35]:
print(chr(65))

A

In [38]:
print(u'中文')

中文

In [39]:
print(u'\u4e2d')

中

In [40]:
print(u'中')

中

In [41]:
u'中文'.encode('utf-8')

b'\xe4\xb8\xad\xe6\x96\x87'

In [43]:
b'\xe4\xb8\xad\xe6\x96\x87'.decode('utf-8')

'中文'

In [44]:
u'中文'.encode('gb2312')

b'\xd6\xd0\xce\xc4'

In [45]:
u'中文'.encode('GBK')

b'\xd6\xd0\xce\xc4'

In [48]:
a="haha"
print(f'{a},i am stupid!')

SyntaxError: invalid syntax (<ipython-input-48-5f0c1b1ea5ac>, line 2)

In [49]:
'Hi,%s,you have $%d.' %('Michael',100000)

'Hi,Michael,you have $100000.'

In [50]:
'%2d-%02d' %(3,1)

' 3-01'

In [51]:
'%.2f%%' %3.1415926

'3.14%'

In [56]:
a=[1,3,5]
print(a.append(1))

None

In [57]:
a.count(1)

2

In [58]:
a

[1, 3, 5, 1]

In [59]:
a.extend([1,2])

In [60]:
a

[1, 3, 5, 1, 1, 2]

In [61]:
a.index(1)

0

In [62]:
a.insert(2,1)

In [63]:
a

[1, 3, 1, 5, 1, 1, 2]

In [64]:
a.pop(1)

3

In [65]:
a

[1, 1, 5, 1, 1, 2]

In [66]:
a=[1,2]
b=[3,4]
a+b

[1, 2, 3, 4]

In [67]:
a.append(b)
a

[1, 2, [3, 4]]

In [68]:
namelist=['Michael','Bob','Tracy']

In [69]:
len(namelist)

3

In [70]:
print(namelist[0])
print(namelist[2])

Michael
Tracy

In [71]:
namelist[-2]

'Bob'

In [72]:
namelist.append('Adam')

In [73]:
namelist

['Michael', 'Bob', 'Tracy', 'Adam']

In [74]:
['Michael','Bob','Tracy','Adam']

['Michael', 'Bob', 'Tracy', 'Adam']

In [75]:
namelist.pop()

'Adam'

In [76]:
namelist

['Michael', 'Bob', 'Tracy']

In [77]:
namelist.pop(1)

'Bob'

In [78]:
namelist

['Michael', 'Tracy']

In [79]:
namelist[0]='Isabel'
print(namelist)

['Isabel', 'Tracy']

In [80]:
a=[7,3,3,5.0,'hello','Python 2.7']

In [81]:
a

[7, 3, 3, 5.0, 'hello', 'Python 2.7']

In [82]:
b=['python','java',['asp','php'],'scheme']
print(len(b))

4

In [83]:
c=a+b
print(c)

[7, 3, 3, 5.0, 'hello', 'Python 2.7', 'python', 'java', ['asp', 'php'], 'scheme']

In [84]:
a=[7,3,3,5.0,'hello','Python2.7']

In [85]:
a.append(9)

In [87]:
a.count(3)
b=['python',[1.0,3]]
a.extend(b)
a

[7, 3, 3, 5.0, 'hello', 'Python2.7', 9, 'python', [1.0, 3], 'python', [1.0, 3]]

In [88]:
a.index(3)

1

In [91]:
len(a)
a.insert(len(a)-1,0)
a

[7,
 3,
 3,
 5.0,
 'hello',
 'Python2.7',
 9,
 'python',
 [1.0, 3],
 'python',
 0,
 0,
 [1.0, 3]]

In [92]:
a.pop()

[1.0, 3]

In [93]:
a.remove(3)

In [94]:
a.remove("python")

In [95]:
a

[7, 3, 5.0, 'hello', 'Python2.7', 9, [1.0, 3], 'python', 0, 0]

In [114]:
a=[7,3,3,5.0]
a.sort(reverse=True)#改变排序顺序
a

[7, 5.0, 3, 3]

In [115]:
a=range(5)
b=[i**2 for i in a]
b

[0, 1, 4, 9, 16]

In [117]:
namelist=('Michael','Bob','Tracy')
namelist

('Michael', 'Bob', 'Tracy')

In [118]:
namelist[-1]

'Tracy'

In [119]:
print(namelist[1:3])

('Bob', 'Tracy')

In [120]:
print(namelist[1:2])

('Bob',)

In [121]:
print(namelist[0:2])

('Michael', 'Bob')

In [122]:
print(namelist[0:1])

('Michael',)

In [123]:
tup=(a,b,b)
del tup

In [125]:
print(tup)

NameError: name 'tup' is not defined

In [126]:
print('abc',-4.24e93,18+6.6j,'xyz')
x,y=1,2
print("Value of x,y:",x,y)
print(x)

abc -4.24e+93 (18+6.6j) xyz
Value of x,y: 1 2
1

In [127]:
t=('a','b',['A','B'])

In [128]:
len(t)

3

In [129]:
t=(1,3,[1,4])

In [130]:
max(t)

TypeError: unorderable types: list() > int()

In [131]:
tuple

tuple

In [132]:
tup

NameError: name 'tup' is not defined

In [133]:
import operator
tup1=('physics','chemistry','1997','2000')
tup2=(1,2,3,4,5)

In [134]:
print(cmp(tup1,tup2))

NameError: name 'cmp' is not defined

In [135]:
operator.le(tup1,tup2)

TypeError: unorderable types: str() <= int()

In [136]:
cmp(tup1,tup2)

NameError: name 'cmp' is not defined

In [138]:
import operator
tup1=('physics','chemistry','1997','2000')
tup2=(1,2,3,4,5)
operator.le(x,y)#比较是否不同

True

In [141]:
print(len(tup1))
print(max(tup1))
print(min(tup1))

4
physics
1997

In [145]:
list1=[1,3,2,5]
print(list1)
list2=tuple(list1)
print(list1)

[1, 3, 2, 5]
[1, 3, 2, 5]

In [146]:
tup1=tup2+list2
print(tup1)
print(tup1.count(1))
print(tup1.index(5))

(1, 2, 3, 4, 5, 1, 3, 2, 5)
2
4

In [163]:
names=['Michael','Bob','Tracy']
scores= [85,75,95]

In [174]:
d=dict(zip(names,scores))
print(d)

{'Tracy': 95, 'Bob': 75, 'Michael': 85}

In [175]:
d

{'Bob': 75, 'Michael': 85, 'Tracy': 95}

In [176]:
names

['Michael', 'Bob', 'Tracy']

In [177]:
scores

[85, 75, 95]

In [178]:
scores=[95,75,85]

In [179]:
scores

[95, 75, 85]

In [180]:
d=dict(zip(names,scores))

In [181]:
d

{'Bob': 75, 'Michael': 95, 'Tracy': 85}

In [182]:
print(d)

{'Tracy': 85, 'Bob': 75, 'Michael': 95}

In [183]:
d={'Michael':95,'Bob':75,'Tracy':85}
d['Michael']

95

In [184]:
d['Adam']=67
d['Adam']

67

In [185]:
d

{'Adam': 67, 'Bob': 75, 'Michael': 95, 'Tracy': 85}

In [186]:
d['Jack']=90
print(d['Jack'])

90

In [187]:
d['Jack']=88
print(d['Jack'])

88

In [188]:
d['Thomas']

KeyError: 'Thomas'

In [189]:
'Thomas' in d

False

In [190]:
print(d.get('Thomas'))

None

In [191]:
print(d.get('Thomas','No Such Key Error'))

No Such Key Error

In [192]:
print(d)
d.pop('Bob')
print(d)

{'Adam': 67, 'Tracy': 85, 'Jack': 88, 'Bob': 75, 'Michael': 95}
{'Adam': 67, 'Tracy': 85, 'Jack': 88, 'Michael': 95}

In [5]:
s={1,2,3,3}
print(s)

{1, 2, 3}

In [8]:
s=set([1,2,3,3])
s

{1, 2, 3}

In [9]:
s.add(4)
print(s)
s.add(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [10]:
s.remove(3)
s

{1, 2, 4}

In [11]:
s1=set([1,2,3])
s2=set([2,3,4])
print(s1&s2)
print(s1|s2)
print(s1-s2)
print(s2-s1)
print(s1^s2)

{2, 3}
{1, 2, 3, 4}
{1}
{4}
{1, 4}

In [12]:
a=['c','b','a']
print(a,type(a))
a.sort()
a

['c', 'b', 'a'] <class 'list'>

['a', 'b', 'c']

In [13]:
a='abc'
a.replace('a','A')
print(a)
b=a.replace('a','A')
print(b)
a=a.replace('a','A')
print(a)

abc
Abc
Abc

In [14]:
age=5
if age>=18:
    print("adult")
else:
    print("teenager")

teenager

In [15]:
age=5
if age>=18:
    print("adult")
elif age>=12:
    print("teenager")
else:
    print("kid")

kid

In [17]:
age=0
if age:
    print("True")

In [21]:
#-*- coding : utff-8
while True:
    age=int(input("请输入你的年龄："))
    if age>=18:
        print("你是个adult.")
    elif age>=12:
        print("You are a teenager")
    elif age> 0:
        print("你还是个小朋友哟。")
    else:
        break

请输入你的年龄：18
你是个adult.
请输入你的年龄：15
You are a teenager
请输入你的年龄：5
你还是个小朋友哟。
请输入你的年龄：-8

In [24]:
names =['Michael','Bob','Tracy']
for name in names:
    #print (name)
    print(name,end=',')

Michael,Bob,Tracy,

In [25]:
sum=0
for x in[1,2,3,4,5,6,7,8,9,10]:
    sum+=x
print(sum)

55

In [26]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
sum=0
for x in range(101):
    sum+=x
print(sum)

5050

In [28]:
sum=0
n=99
while n>0:
    sum+=n
    n-=2
print(sum)

2500